{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "firefox": "41",
                    "chrome": "46"
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-object-set-prototype-of-to-assign"
    ]
}