{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "firefox": "41",
                    "chrome": "46"
                }
            }
        ]
    ]
}