.title-font {
  font-family: "Niconne", sans-serif;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-image: url("../media/body-background.jpg");
  background-size: cover;
  background-repeat: repeat;
}

/* These 2 needs to match each other */
.fixed-row { 
  height: 50vh;
}
.fixed-height-img {
  max-height: 50vh;
  object-fit: contain;
}

.bg-darker {
  background-color: #181C1F;
}

input.transparent-input { 
  border:none !important
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border:none;
}

input.transparent-input {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
}

input[type="comment"]:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

#button-send:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}

button:is(:has(i)) i {
  pointer-events: none;
}

button:is(:has(small)) small {
  pointer-events: none;
}

.sticker {
  width: 90%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.live-sticker {
  padding: 0;
  position: absolute;
  border: 3px solid transparent;
  /* object-fit: contain; /* This maybe not very good */
}

.live-sticker:hover {
  border-color: black;
}

.preview-image {
  width: 100%;
  height: 100%;
  max-height: 25vh;
  object-fit: contain;
  cursor: pointer;
}

#live-sticker-container {
  position: absolute;
  z-index: 1;
}

.non-highlightable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

dialog {
  border: none;
  background: none;
  box-shadow: none;
}