.title-font {
  font-family: "Niconne", sans-serif;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  background-image: url("../media/body-background.jpg");
  background-size: cover;
  background-repeat: repeat;
}

/* These 2 needs to match each other */
.fixed-row { 
  height: 480px;
}
.fixed-height-img {
  max-height: 480px;
  object-fit: contain;
}

.bg-darker {
  background-color: #181C1F;
}

input.transparent-input { 
  border:none !important
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border:none;
}

input.transparent-input {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
}

input[type="comment"]:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

#button-send:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}

button:is(:has(i)) i {
  pointer-events: none;
}

button:is(:has(small)) small {
  pointer-events: none;
}